.searchInput {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 30%;
  box-shadow: none;
}
.noResults{
  color: red;
  padding-left: 10%;
}

.tableTopRightButton {
  position:absolute;
  right: 20px;
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
  border-spacing: 0;
  border: 1px solid #ededed;
  table-layout: fixed;
  width:100%;
}

table th{
  top: 0;
}

table tr{
  line-height:20px;
}

table tr:last-child td {
  border-bottom: 0;
}

table tbody{
  overflow-y: auto;
}

table th,
table td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  text-align: center;
}

table th:last-child,
table td:last-child {
  border-right: 0;
}

table tr:nth-child(even){
  background-color: #fafafa;
}

table th::before {
  position: absolute;
  right: 15px;
  top: 16px;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
table th.sort-asc::before {
  border-bottom: 5px solid #22543d;
}
table th.sort-desc::before {
  border-top: 5px solid #22543d;
}

.tablePageIndex{
  padding-left:10px
}

.tableGoToPage{
  padding:10px;
}

.pagination{
  height:40px;
  align-items:center;
}
