.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.logo {
  background: rgba(255, 255, 255, 0.3);
}

.content{
  margin: '24px 16px';
  padding-left:100px;
}

.subpageTitle{
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
}
